.join_page_wrapper {
  background: linear-gradient(320deg, #ff9e62, #f88b0f);
  width: 100%;

  .form_wrap {
    background-color: rgba(255, 255, 255, 0.584);
    // width: 100%;
    // max-width: 500px;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
